html {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    width: 100%;
    font-family: monospace;
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

/* ul {
    font-family: helvetica;
} */

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

/* #msg {
    font-family: monospace;
} */

footer {
    position: relative;
    bottom: 0;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.alert {
    color: crimson;
}

.info {
    color: seagreen;
}
