body {
    width: 100%;
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    color: #000000;
    background: #00FF00;
}

#msg {
    font-family: monospace;
}

footer {
    position: relative;
    bottom: 0;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.alert {
    color: crimson;
}

.info {
    color: seagreen;
}
